 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p style = "text-align: justify">My name is Raghav Marwaha and I am passionate about developing games and open source software. I also happen to have a keen interest in information security.</p>
                </div>
                <div class="col-lg-4">
                    <p style = "text-align: justify">I have experience of working as a DevOps Engineer, focussing primarily on Automation, IaC, and Build & Release. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="blank" rel="noopener noreferrer" href="http://linkedin.com/in/raghav-marwaha-7a9640167" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume in pdf
                    </a>
                </div>
            </div>
        </div>
    </section>
