 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Raghav Marwaha and I love programming and design with a passion. I am 22 years old and have been programming for about 7 years now, out of which I have spent a large portion of my time developing free to play video games and other open source software.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have recently graduated with a Bachelors degree in Electronics and Communication Engineering. If you are interested in seeing my resume or would like to set up an interview, please contact me by email or phone anytime. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume in pdf
                    </a>
                </div>
            </div>
        </div>
    </section>
